:root {
  --color-brand: #2ce19a;
  --color-text: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #08090a;
  font-family: "Inter", sans-serif;
  color: var(--color-text);
}

p {
  color: #ffffffb3;
  font-size: 0.875rem;
  line-height: 1.71;
  font-weight: normal;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.white-btn {
  background-color: var(--color-text);
  color: #08090a;
  padding: 0.4375rem 1.5rem;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.white-btn:hover {
  background-color: #ffffffd7;
}

.sub-title {
  color: var(--color-brand);
  font-family: "Geist Mono", monospace;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.6px;
}

/* Nav Section */
nav {
  font-weight: 500;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 1rem 13.025rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  margin-top: 1.5rem;
}

ul {
  display: flex;
  gap: 0.25rem;
  list-style-type: none;
}

ul li a {
  color: var(--color-text);
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
}

ul li a:hover {
  background-color: #ffffff0d;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.logo {
  display: flex;
}

.primary-nav-btn {
  background-color: #ffffff0d;
  color: var(--color-text);
  margin-right: 0.25rem;
}

.secondary-nav-btn {
  background-color: var(--color-text);
  color: #08090a;
}

.secondary-nav-btn:hover {
  background-color: #ffffffd7;
}

.primary-nav-btn,
.secondary-nav-btn {
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
}

.h2-title {
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: -0.8px;
  font-weight: 600;
}

/* Hero Section */
h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: -1.28px;
}

form {
  display: flex;
  align-items: center;
  backdrop-filter: blur(12px);
  background-color: #ffffff26;
  border: 1px solid #ffffff26;
  border-radius: 999px;
  width: 350px;
  height: 33.5px;
  margin: 0 auto;
  padding: 0.25rem;
}

.hero-section {
  text-align: center;
  background:
    url(/public/images/hero-bg.svg),
    linear-gradient(to bottom, transparent 0%, #08090a 100%);
  background-position: center -135px;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 9rem;
}

.hero-para {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

#email-input {
  background: transparent;
  border: none;
  outline: none;
  flex: 1;
  padding: 0 0.75rem;
  font-size: 0.93rem;
}

#email-input::placeholder {
  color: #ffffff80;
}

.input-btn {
  position: absolute;
  right: 0;
  background-color: var(--color-text);
  color: #08090a;
  border: 1px solid var(--color-text);
  border-radius: 999px;
  margin-right: 0.375rem;
  padding: 0.281rem 0.75rem;
  font-size: 0.938rem;
  font-weight: 500;
}

.hero-platform-image {
  margin-top: 6rem;
  mask-image: linear-gradient(to bottom, #08090a 85%, transparent 100%);
  border-radius: 20px;
  border: 3px solid #ffffff1a;
}

/* Trusted by Section */
.logos-images-flex {
  padding: 4.5em 2em 9em 2em;
  display: flex;
  justify-content: center;
}

.trusted-by-logos {
  display: grid;
  grid-template-rows: repeat(2, 4rem);
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  row-gap: 1.75rem;
  width: 64rem;
  align-items: center;
  justify-items: center;
}

/* Intelligent Assistant Section */

.intelligent-assistant-section {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  margin-bottom: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intelligent-text {
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.intelligent-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.intelligent-cards-first-row {
  display: flex;
  gap: 1.5rem;
}

.intelligent-card {
  border-radius: 1.5rem;
  border: 1px solid #ffffff12;
  width: fit-content;
}

.intelligent-card-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5em;
}

.intelligent-card-para {
  text-wrap: balance;
}

.intelligent-card-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.24px;
}

.intelligent-card-image {
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Enterprise Features Section */
.enterprise-features-section {
  background-color: #ffffff0d;
  padding: 6em 0;
}

.enterprise-container {
  max-width: 64rem;
  margin: 0 auto;
}

.enterprise-first-row {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding-bottom: 3em;
}

.enterprise-first-row-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 40rem;
}

.enterprise-first-row-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.8px;
  text-wrap: balance;
}

.enterprise-first-row-button {
  display: flex;
  align-items: end;
}

.enterprise-second-row {
  margin: 1.5rem 0;
  padding-bottom: 3rem;
  display: flex;
  gap: 3rem;
}

.enterprise-second-row-image {
  width: 2rem;
  height: 2rem;
}

.enterprise-second-row-text {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.2px;
}

.enterprise-section-third-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.enterprise-section-card-content {
  height: 518px;
  width: auto;
  padding: 4rem;
  background-image: url(/public/images/anthropic-bg-image.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 108%;
  border-radius: 1.5rem;
  object-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.enterprise-section-card-sub-title {
  font-family: "Geist Mono", monospace;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.6px;
  color: var(--color-text);
}

.enterprise-section-card-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.24px;
  color: var(--color-text);
  max-width: 28rem;
  margin-top: 1rem;
}

.enterprise-section-card-second-row {
  display: flex;
  gap: 1.75rem;
}

.enterprise-section-card-second-row-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 12rem;
}

.enterprise-section-card-second-row-title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.8px;
  color: var(--color-text);
}

.enterprise-section-logos {
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.enterprise-section-logos-link {
  height: 4rem;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Customer Stories Section */
.customer-stories-section {
  padding-left: 18%;
  padding-right: 18%;
  padding-bottom: 4.5rem;
}

.customer-stories-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 2rem;
  max-width: 64rem;
  margin: 0 auto;
}

.customer-stories-para {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  max-width: 39rem;
  text-align: center;
}

.customer-stories-cards {
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-evenly;
}

.customer-stories-card {
  display: block;
  width: fit-content;
}

.customer-stories-card:hover .customer-stories-card-style-hover {
  color: var(--color-brand);
}

.customer-stories-card-image {
  margin-bottom: 0.5rem;
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-stories-card-bg-image {
  height: 222px;
  border-radius: 1rem;
}

.customer-stories-card-logo {
  position: absolute;
  width: 230px;
  height: 45px;
}

.customer-stories-card-content {
  padding: 0.75rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.customer-stories-card-content-para {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  max-width: 355px;
  color: #ffffffb3;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.customer-stories-card-btn {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
}

.previous-btn {
  opacity: 0.5;
}

.previous-btn,
.next-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.previous-btn img,
.next-btn img {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
}
