:root {
  --color-brand: #2ce19a;
  --color-text: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #08090a;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Nav Section */
nav {
  font-weight: 500;
  font-size: 0.938rem;
  margin: 1rem 13.025rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  margin-top: 1.5rem;
}

ul {
  display: flex;
  gap: 0.25rem;
  list-style-type: none;
  margin: 0;
}

ul li a {
  color: var(--color-text);
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
}

ul li a:hover {
  background-color: #ffffff0d;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.logo {
  display: flex;
}

.primary-nav-btn {
  background-color: #ffffff0d;
  color: var(--color-text);
  margin-right: 0.25rem;
}

.secondary-nav-btn {
  background-color: var(--color-text);
  color: #08090a;
}

.secondary-nav-btn:hover {
  background-color: #ffffffd7;
}

.primary-nav-btn,
.secondary-nav-btn {
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
}

/* Hero Section */
h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: -1.28px;
  color: var(--color-text);
  margin: 0;
}

form {
  display: flex;
  align-items: center;
  backdrop-filter: blur(12px);
  background-color: #ffffff26;
  border: 1px solid #ffffff26;
  border-radius: 999px;
  width: 350px;
  height: 33.5px;
  margin: 0 auto;
  padding: 0.25rem;
}

.hero-section {
  text-align: center;
  background:
    url(/public/images/hero-bg.svg),
    linear-gradient(to bottom, transparent 0%, #000 100%);
  background-position: center 180%;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 9rem;
}

.hero-para {
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--color-text);
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

#email-input {
  background: transparent;
  border: none;
  outline: none;
  flex: 1;
  padding: 0 0.75rem;
  font-size: 0.93rem;
}

#email-input::placeholder {
  color: #ffffff80;
}

.input-btn {
  position: absolute;
  right: 0;
  background-color: var(--color-text);
  color: lab(2.42579% -0.165291 -0.470081);
  border: 1px solid var(--color-text);
  border-radius: 999px;
  margin-right: 0.375rem;
  padding: 0.281rem 0.75rem;
  font-size: 0.938rem;
  font-weight: 500;
}

.hero-platform-image {
  margin-top: 6rem;
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  border-radius: 20px;
  border: 3px solid #ffffff1a;
}
